{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'sidebar.html' %}
    <div class="main-panel">
            <!-- Navbar -->
           {% include 'navbar.html' %}
{#    <div class="page-title">#}
{#                    <h3>Twitter Settings</h3>#}
{#        {% block breadcrumbs %}#}
{#                    <div class="page-breadcrumb">#}
{#                        <ol class="breadcrumb">#}
{#                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>#}
{#                            <li class="active">Twitter settings</li>#}
{#                        </ol>#}
{#                    </div>#}
{#            {% endblock %}#}
{#                </div>#}
{#    <div id="main-wrapper">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="panel panel-white">#}
{#                        <div class="panel-heading clearfix">#}
{#                                    <h4 class="panel-title">Twitter Settings API</h4>#}
{#                                </div>#}
{#                        <div class="panel-body">#}
{#                            <div class="row">#}
{#                                <div class="col-lg-12">#}
{#                                    <p>#}
{#                        This is the configuration panel for twitter API data source. Once the settings details are provided,#}
{#                        you can use your usalama account to pull data of interest from twitter based pn hashtags, location and keywords.#}
{#                        The documentation provides a guide of setting up a twitter app that can be used for this case.#}
{#                    </p>#}
{#                                </div>#}
{#                                <!-- /.col-lg-6 (nested) -->#}
{#                            </div>#}
{#                            <!-- /.row (nested) -->#}
{#                        </div>#}
{#                        <!-- /.panel-body -->#}
{#                    </div>#}
{#                    <!-- /.panel -->#}
{#                </div>#}
{#                <!-- /.col-lg-12 -->#}
{#            </div>#}
{#            <!-- /.row -->#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="panel panel-white">#}
{#                        <div class="panel-heading clearfix">#}
{#                                    <h4 class="panel-title">Configure your twitter settings to access the twitter API</h4>#}
{#                                </div>#}
{#                        <div class="panel-body">#}
{#                            <div class="row">#}
{#                                <div class="col-lg-12">#}
{#                                    <form action="{{ action }}" method="post" class="form-horizontal" enctype="multipart/form-data">#}
{#                                        <div class="col-md-10">#}
{##}
{#                                                {% csrf_token %}#}
{#                                                {% crispy form %}#}
{#                                        </div>#}
{##}
{#                                    </form>#}
{#                                </div>#}
{#                                <!-- /.col-lg-6 (nested) -->#}
{#                            </div>#}
{#                            <!-- /.row (nested) -->#}
{#                        </div>#}
{#                        <!-- /.panel-body -->#}
{#                    </div>#}
{#                    <!-- /.panel -->#}
{#                </div>#}
{#                <!-- /.col-lg-12 -->#}
{#            </div>#}
{#            <!-- /.row -->#}
{#        </div>#}
{#    </div>#}

     <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                   <h4 class="panel-title">Configure your twitter settings to access the twitter API</h4>
                <h5 class="title">Twitter Settings API</h5>
              </div>
              <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{{ action }}">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        {% csrf_token %}
                          {% crispy form %}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
{% endblock %}