{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
     {% include 'sidebar.html' %}

    <div class="main-panel">
     {% include 'navbar.html' %}
{#    <div class="page-title">#}
{#                    <h3>Tweets collected</h3>#}
{#        {% block breadcrumbs %}#}
{#                    <div class="page-breadcrumb">#}
{#                        <ol class="breadcrumb">#}
{#                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>#}
{#                            <li class="active">Tweets collected</li>#}
{#                        </ol>#}
{#                    </div>#}
{#            {% endblock %}#}
{#                </div>#}
{#    <div id="main-wrapper">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-12 col-md-12">#}
{#                            <div class="panel panel-white">#}
{#                                <div class="panel-heading">#}
{#                                    <h4 class="panel-title">Tweets Collected</h4>#}
{#                                </div>#}
{#                                <div class="panel-body">#}
{#                                    <div class="table-responsive project-stats">#}
{#                                       <table class="table">#}
{#                                           <thead>#}
{#                                               <tr>#}
{#                                                   <th id="text"> Text </th>#}
{#                                            <th> Location</th>#}
{#                                            <th> Created @</th>#}
{#                                            <th> Event</th>#}
{#                                               </tr>#}
{#                                           </thead>#}
{#                                           <tbody>#}
{#                                           {% for t in tweet %}#}
{#                                            <tr class="odd gradeX">#}
{#                                              <td>{{ t.text }}</td>#}
{#                                              <td>{{ t.location }}</td>#}
{#                                              <td>{{ t.created_at }}</td>#}
{#                                                <td><p>#}
{#                                                <button id="btnEvent" type="button" class="btn btn-primary btn-xs btnEvent" data-smsid="{{t.id}}" onclick="window.open('/twitter/post-tweet/?tw_id={{t.id}}', '_self');"> Post Event</button>#}
{#                                                </p>#}
{#                                                </td>#}
{#                                            </tr>#}
{#                                          {% endfor %}#}
{#                                           </tbody>#}
{#                                        </table>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% if tweet.has_other_pages %}#}
{#                            <ul class="pagination">#}
{#                                {% if tweet.has_previous %}#}
{#                                    <li><a href="?page={{ tweet.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>#}
{#                                {% else %}#}
{#                                    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>#}
{#                                {% endif %}#}
{#                                {% if tweet.number|add:'-4' > 1 %}#}
{#                                    <li><a href="?page={{ tweet.number|add:'-5' }}">&hellip;</a></li>#}
{#                                {% endif %}#}
{#                                {% for i in tweet.paginator.page_range %}#}
{#                                    {% if tweet.number == i %}#}
{#                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#                                    {% elif i > tweet.number|add:'-5' and i < tweet.number|add:'5' %}#}
{#                                        <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                                {% if tweet.paginator.num_pages > tweet.number|add:'4' %}#}
{#                                    <li><a href="?page={{ tweet.number|add:'5' }}">&hellip;</a></li>#}
{#                                {% endif %}#}
{#                                {% if tweet.has_next %}#}
{#                                    <li><a href="?page={{ tweet.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>#}
{#                                {% else %}#}
{#                                    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>#}
{#                                {% endif %}#}
{#                            </ul>#}
{#                                    {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div><!-- Main Wrapper -->#}

      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Tweets Collected</h5>
              </div>
              <div class="card-body">
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="table-responsive project-stats">
                                       <table class="table">
                                           <thead>
                                               <tr>
                                                   <th id="text"> Text </th>
                                            <th> Location</th>
                                            <th> Created @</th>
                                            <th> Event</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                           {% for t in tweet %}
                                            <tr class="odd gradeX">
                                              <td>{{ t.text }}</td>
                                              <td>{{ t.location }}</td>
                                              <td>{{ t.created_at }}</td>
                                                <td><p>
                                                <button id="btnEvent" type="button" class="btn btn-primary btn-xs btnEvent" data-smsid="{{t.id}}" onclick="window.open('/twitter/post-tweet/?tw_id={{t.id}}', '_self');"> Post Event</button>
                                                </p>
                                                </td>
                                            </tr>
                                          {% endfor %}
                                           </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% if tweet.has_other_pages %}
                            <ul class="pagination">
                                {% if tweet.has_previous %}
                                    <li><a href="?page={{ tweet.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                                {% endif %}
                                {% if tweet.number|add:'-4' > 1 %}
                                    <li><a href="?page={{ tweet.number|add:'-5' }}">&hellip;</a></li>
                                {% endif %}
                                {% for i in tweet.paginator.page_range %}
                                    {% if tweet.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% elif i > tweet.number|add:'-5' and i < tweet.number|add:'5' %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if tweet.paginator.num_pages > tweet.number|add:'4' %}
                                    <li><a href="?page={{ tweet.number|add:'5' }}">&hellip;</a></li>
                                {% endif %}
                                {% if tweet.has_next %}
                                    <li><a href="?page={{ tweet.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                                {% endif %}
                            </ul>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
              </div>
            </div>
          </div>

        </div>
      </div>
{% endblock %}