{#{% extends 'base/master.html' %}#}

{% block content %}
  <h2>Tweets List</h2>

  <ul>
    {% for tweet in object_list %}
      <li>{{ tweet.text }} - {{ tweet.location }} - {{ tweet.tweet_category }}</li>
    {% empty %}
      <li>No tweets. <a href="{% url 'search-form' %}">Search twitter.</a></li>
    {% endfor %}
  </ul>
{% endblock %}

<script type="text/javascript">
                        $(document).ready(function getTweets() {
                            $.ajax({
                                url: 'http://192.168.2.32:8000/events/api/twitter-list',
                                type: 'GET',
                                dataType: 'json',
                                success: function(data) {
                                    console.log(data);
                                    var tweets = $('div.tweet');
                                    var output = ' ';
                                    for (var i in data)
                                    {
                                        output+='<a href="#" class="list-group-item notif"></i>' +
                                            data[i].text + '<span class="pull-right text-muted small"><em>' + data[i].location
                                            + '</em></span></a>';
                                    }
                                    output+= '';
                                    tweets.html(output);
                                    }
                            });
                        });
                    </script>