{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="page-title">
                    <h3>Search Twitter</h3>
        {% block breadcrumbs %}
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
{#                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>#}
                            <li class="active">Search twitter</li>
                        </ol>
                    </div>
            {% endblock %}
                </div>
    <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Please search terms using hashtags and popular keywords </h4>
                                </div>
                                <div class="panel-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% crispy form %}
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Top trends</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Hashtag/Keyword</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for trend in trendsName %}
                                        <tr><td>{{ trend }}</td></tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
{% endblock %}
