 <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul>

                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Designed by
                        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                        <a href="#" target="_blank">Karungu</a>.
                    </div>
                </div>
            </footer>