{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}




{% block content %}
<div class="main-panel">
            <!-- Navbar -->
           {% include 'navbar.html' %}
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                Map
                            </div>
                            <div class="card-body ">
                                <div id="map" class="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           {% include 'footer.html' %}
        </div>
{% endblock %}