{#{% extends 'base/master.html' %}#}

{% block content %}
<div class="main-panel">
<nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Analytics Dashboard </a>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <p>You searched for: <strong>{{ query }}</strong></p>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="card">
                                <div class="card-content">
                                    {% if texts %}
            <p>Found {{ texts|length }} Tweet{{ texts|pluralize }}.</p>
            <ul>
                {% for text in texts %}
                <li><b>{{ text.tweet_id }}</b>| {{ text.text }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tweets matched your search criteria.</p>
        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
<p>You searched for: <strong>{{ query }}</strong></p>

        {% if texts %}
            <p>Found {{ texts|length }} Tweet{{ texts|pluralize }}.</p>
            <ul>
                {% for text in texts %}
                <li>{{ text.tweet_id }}| {{ text.text }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tweets matched your search criteria.</p>
        {% endif %}
