
<div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                    K
                </a>
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    Analytics
                </a>
            </div>
<div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <form>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                                </span>
                            </div>
                        </form>
                    </li>
                 {% with url_name=request.resolver_match.url_name %}
                    <li class="{% if url_name == 'index' %}active{% endif %}">
                        <a href="{% url 'analytic:map' %}">
                            <i class="now-ui-icons location_map-big"></i>
                            <p>Maps</p>
                        </a>
                    </li>

                    <li class="{% if url_name == 'tables' %}active{% endif %}">
                        <a href="{% url 'analytic:tables' %}">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>Data List</p>
                        </a>
                    </li>
                          <li class="{% if url_name == 'twitter' %}active{% endif %}">
                        <a href="{% url 'twitter:twitter' %}">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>Twitter</p>
                        </a>
                    </li>

                     <li>
                        <a href="../examples/user.html">
                            <i class="now-ui-icons business_chart-bar-32"></i>
                            <p>Analytics</p>
                        </a>
                    </li>

                     <li>
                        <a href="../examples/user.html">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                {% endwith %}

                </ul>
            </div>

</div>