{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}




{% block content %}
         <div class="content">
        <div class="row">
          <div class="col-md-6 container-fluid">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Login</h5>
              </div>
              <div class="card-body">
            <form  method="post" action="{% url 'login'%}">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                       {% csrf_token %}
                          {% crispy form %}
                           <button type="submit" class="btn btn-primary">Login</button>
                          <button type="submit" class="btn btn-primary">Loin Using Twitter</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>

            </div>
          </div>
        </div>
         </div>
{% endblock %}