{% extends 'base/base.html' %}

{% block content %}
    <div class="page-title">
                    <h3>Agent Reports</h3>
        {% block breadcrumbs %}
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'users' %}">Agents</a></li>
                            <li class="active">Reports</li>
                        </ol>
                    </div>
            {% endblock %}
                </div>
    <div id="main-wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Events reported by this agent</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive project-stats">
                                       <table class="table">
                                           <thead>
                                               <tr>
                                                   <th>Report Title</th>
                                                   <th>Category</th>
                                                   <th>Date Reported</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                          {% for t in event %}
                                            <tr class="odd gradeX">
                                                <td><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></td>
                                              <td>{{ t.category }}</td>
                                              <td>{{ t.date_reported }}</td>
                                            </tr>
                                            {% empty %}
                                            <strong><h2>The agent has no reported events</h2></strong>
                                          {% endfor %}
                                           </tbody>
                                        </table>
                                    </div>
                                {% if event.has_other_pages %}
                            <ul class="pagination">
                                {% if event.has_previous %}
                                    <li><a href="?page={{ event.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                                {% endif %}
                                {% if event.number|add:'-4' > 1 %}
                                    <li><a href="?page={{ event.number|add:'-5' }}">&hellip;</a></li>
                                {% endif %}
                                {% for i in event.paginator.page_range %}
                                    {% if event.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% elif i > event.number|add:'-5' and i < event.number|add:'5' %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if event.paginator.num_pages > event.number|add:'4' %}
                                    <li><a href="?page={{ event.number|add:'5' }}">&hellip;</a></li>
                                {% endif %}
                                {% if event.has_next %}
                                    <li><a href="?page={{ event.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                                {% endif %}
                            </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div>

{% endblock %}