{% extends 'base/base.html' %}
{% block content %}
    <div class="page-title">
                    <h3>Agents</h3>
        {% block breadcrumbs %}
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="active">agents</li>
                        </ol>
                    </div>
            {% endblock %}
                </div>
    <div id="main-wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Agents List</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive project-stats">
                                       <table class="table">
                                           <thead>
                                               <tr>
                                                   <th>Agent Name</th>
                                                   <th>username</th>
                                                   <th>Email</th>
                                                   <th>Status</th>
                                                   <th>Agent Reports</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                          {% for user in users %}
                                            <tr>
                                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{% if user.is_active == True %} Active {% else %}Not Active {% endif %}</td>
                                                <td><a href="{{ user.get_absolute_url }}">{{ user.username }} Reports</a></td>
                                            </tr>
                                            {% endfor %}
                                           </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div>
{% endblock %}