{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="page-title">
                    <h3>Dashboard</h3>
        {% block breadcrumbs %}
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        </ol>
                    </div>
            {% endblock %}
                </div>
    <div id="main-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                <div class="panel-body">
                                    <div class="info-box-stats">
                                        <p class="counter">{{ events_count }}</p>
                                        <span class="info-box-title">Reported events</span>
                                    </div>
                                    <div class="info-box-icon">
                                        <i class=" icon-list"></i>
                                    </div>
                                    <div class="info-box-progress">
                                        <div class="progress progress-xs progress-squared bs-n">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                <div class="panel-body">
                                    <div class="info-box-stats">
                                        <p class="counter">{{ tweet_count }}</p>
                                        <span class="info-box-title">Tweets collected</span>
                                    </div>
                                    <div class="info-box-icon">
                                        <i class="icon-social-twitter"></i>
                                    </div>
                                    <div class="info-box-progress">
                                        <div class="progress progress-xs progress-squared bs-n">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                <div class="panel-body">
                                    <div class="info-box-stats">
                                        <p><span class="counter">{{ text_count }}</span></p>
                                        <span class="info-box-title">SMS recieved</span>
                                    </div>
                                    <div class="info-box-icon">
                                        <i class="icon-envelope"></i>
                                    </div>
                                    <div class="info-box-progress">
                                        <div class="progress progress-xs progress-squared bs-n">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                <div class="panel-body">
                                    <div class="info-box-stats">
                                        <p class="counter">{{ user_count }}</p>
                                        <span class="info-box-title">Agents available</span>
                                    </div>
                                    <div class="info-box-icon">
                                        <i class="icon-users"></i>
                                    </div>
                                    <div class="info-box-progress">
                                        <div class="progress progress-xs progress-squared bs-n">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Recently Verified Reports</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive project-stats">
                                       <table class="table">
                                           <thead>
                                               <tr>
                                                   <th>Title</th>
                                                   <th>Date</th>
                                                   <th>Status</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                           {% for event in events %}
                                               <tr>
                                                   <td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
                                                    <td><strong>{{ event.date_reported }}</strong></td>
                                                   <td><span class="label label-info">{{ event.status }}</span></td>
                                               </tr>
                                           {% endfor %}
                                           </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Main Wrapper -->

{% endblock %}


                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                    <marquee id="ticker">
                        {% for tweet in latest_tweets %}
                        {{ tweet.text }} ||
                        {% endfor %}
                    </marquee>
                </div>
