{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="page-title">
                    <h3>Verified Events</h3>
        {% block breadcrumbs %}
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="active">Verified events</li>
                        </ol>
                    </div>
            {% endblock %}
                </div>

    <div id="main-wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Real-time Feed</h4>
                                </div>
                                <div  id="task_status_div" class="panel-body">
                                    <div class="table-responsive project-stats">
                                       <table id="task_status"  class="table">
                                           <thead>
                                               <tr>
                                                   <th>Report</th>
                                                   <th>Date</th>

                                               </tr>
                                           </thead>
                                           <tbody>

                                           </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Verified Reports</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive project-stats">
                                       <table class="table">
                                           <thead>
                                               <tr>
                                                   <th>Name</th>
                                                   <th>Category</th>
                                                   <th>Date</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                           {% for t in event %}
                                               <tr>
                                                   <td><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></td>
                                                    <td><strong>{{ t.category }}</strong></td>
                                                    <td>{{ t.date_reported }}</td>
                                               </tr>
                                           {% endfor %}
                                           </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
    <script>
        $(function() {

            var ws_path = new WebSocket('ws://' + window.location.host + '/events/');
            console.log("Connecting to " + ws_path);

            ws_path.onopen = function open() {
                console.log('WebSockets connection created.');
            };

            ws_path.onmessage = function(message) {
                console.log("Got message: "+ message.data);
                var data =JSON.parse(message.data);
                var task_status = $("#task_status");
                var ele = $('<tr></tr>');
{#                ele.attr("id", data[0].fields.name);#}
{#                var item_name = $("<td></td>").text(data[0].fields.agent);#}
{#                ele.append(item_name);#}
                var item_report = $("<td></td>").text(data[0].fields.report);
                ele.append(item_report);
                var item_date = $("<td></td>").text(data[0].fields.date_reported);
                ele.append(item_date);
                task_status.append(ele);

                var modal_status = $("#bsModal3");
                var modal_name = $('#mySmallModalLabel').text(data[0].fields.name);
                var modal_report = $('#mySmallModalContent').text(data[0].fields.report);
                modal_status.modal('show');

                setTimeout(function(){
                    $('#bsModal3').modal('hide')
                }, 3000);

            };
        });
    </script>
         <div class="col-md-4">
             <div class="modal fade bs-example-modal-sm" id="bsModal3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-sm">
                     <div class="modal-content">
                         <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                             <h4 class="modal-title" id="mySmallModalLabel"></h4>
                         </div>
                         <div id="mySmallModalContent" class="modal-body">
                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
                </div>

{% endblock %}