{% extends 'base/base.html' %}
{% load static %}
{% block content %}
 <div id="main-wrapper">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> Event report</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="panel-body">
                                        <div class="timeline-item-header">
                                                    <p><strong>{{ event.name }}</strong></p>
                                                    <small>{{ event.date_reported }}</small>
                                                </div>
                                                <div class="timeline-item-post">
                                                    <p>{{ event.report }}</p>
                                                </div>
                        </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> Event Image</h4>
                                </div>
                                <div class="panel-body imgx">
                                    <img src="{% if event.event_image %}{{ event.event_image.url }}{% else %}{% static 'assets/images/no-image.png' %}{% endif %}" alt="Event image" height="220" width="220">
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div>

{% endblock %}


