{#{% extends 'base/master.html' %}#}
{% block content %}
<div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Category Events</a>
                    </div>
{#                    <div class="collapse navbar-collapse">#}
{#                        <ul class="nav navbar-nav navbar-right">#}
{#                            <li>#}
{#                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">#}
{#                                    <i class="material-icons">dashboard</i>#}
{#                                    <p class="hidden-lg hidden-md">Dashboard</p>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="dropdown">#}
{#                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                                    <i class="material-icons">notifications</i>#}
{#                                    <span class="notification">5</span>#}
{#                                    <p class="hidden-lg hidden-md">Notifications</p>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li>#}
{#                                        <a href="#">Mike John responded to your email</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#">You have 5 new tasks</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#">You're now friend with Andrew</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#">Another Notification</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#">Another One</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">#}
{#                                    <i class="material-icons">person</i>#}
{#                                    <p class="hidden-lg hidden-md">Profile</p>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <form class="navbar-form navbar-right" role="search">#}
{#                            <div class="form-group  is-empty">#}
{#                                <input type="text" class="form-control" placeholder="Search">#}
{#                                <span class="material-input"></span>#}
{#                            </div>#}
{#                            <button type="submit" class="btn btn-white btn-round btn-just-icon">#}
{#                                <i class="material-icons">search</i>#}
{#                                <div class="ripple-container"></div>#}
{#                            </button>#}
{#                        </form>#}
{#                    </div>#}
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Events</h4>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <th> Name </th>
                                            <th> Agent Contact</th>
                                            <th> Date Report</th>
                                        </thead>
                                        <tbody>
                                        {% for event in event_category %}
                                            <tr class="odd gradeX">
                                              <td>{{ event.name }}</td>
                                              <td>{{ event.agent }}</td>
                                              <td>{{ event.date_reported }}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}