{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load static %}
{% load leaflet_tags %}




 {% include 'sidebar.html' %}
{% block content %}
    <style>
        .leaflet-container-default { height: 100%; min-height: 800px; }
    </style>

    {% include 'sidebar.html' %}
<div class="main-panel">
            <!-- Navbar -->
           {% include 'navbar.html' %}
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                Map
                            </div>
                            <div class="card-body ">
                                <div id="map" class="map">

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           {% include 'footer.html' %}
        </div>
    <div class="page-inner full-height">
                {% leaflet_js %}
                {% leaflet_css %}
            <script type="text/javascript">

        //bind popup to the markers
        function onEachFeature(feature, layer) {
            if (feature.properties) {
                layer.bindPopup("<b> Event Report :</b><br>" +
                    "<i>" + feature.properties.report + "</i>");
            }
        }

        function allEventsMarker(feature, latlng) {
            return L.marker(latlng, {
{#                icon: crimeIcon#}
            })
        }


        function main_map_init(map,options){

            map.removeControl(map.zoomControl);

            L.AwesomeMarkers.Icon.prototype.options.prefix = 'ion';

            //pass data source url to a variable
{#            var dataurl = '{% url "events_data" %}';#}


            //base layers
            var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			});

            var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                maxZoom: 17,
                attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
            });

            var cartoLight = L.tileLayer("https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png", {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>'
            });

{##}
{#            //load events data from database#}
{#            $.getJSON(dataurl, function (data) {#}
{#                var eventsData = L.geoJson(data, {#}
{#                    onEachFeature: onEachFeature#}
{#                });#}
{##}
{#                //define color markers for various events#}
{#                var redMarker = L.AwesomeMarkers.icon({#}
{#                    icon: 'flash',#}
{#                    markerColor: 'red'#}
{#                });#}
{##}
{#                var greenMarker = L.AwesomeMarkers.icon({#}
{#                    icon: 'eye',#}
{#                    markerColor: 'green'#}
{#                });#}
{##}
{#                var darkgreenMarker = L.AwesomeMarkers.icon({#}
{#                    icon: 'key',#}
{#                    markerColor: 'darkgreen'#}
{#                });#}
{##}
{#                var blueMarker = L.AwesomeMarkers.icon({#}
{#                    icon: 'ion-bonfire',#}
{#                    markerColor: 'blue'#}
{#                });#}
{##}
{#                var cadetblueMarker = L.AwesomeMarkers.icon({#}
{#                    icon: 'alert-circled',#}
{#                    markerColor: 'cadetblue'#}
{#                });#}
{##}
{#                var orangeMarker = L.AwesomeMarkers.icon({#}
{#                    icon: 'lock-combination',#}
{#                    markerColor: 'orange'#}
{#                });#}
{##}
{##}
{#                //filter events data based on the category of the event#}
{#                var unclassifiedData = L.geoJson(data, {#}
{#                    onEachFeature: onEachFeature,#}
{#                    filter: function (feature, layer) {#}
{#		                    return feature.properties.category === 1;#}
{#		                },#}
{#                    pointToLayer: function(feature, latlng) {#}
{#                        return L.marker(latlng, {#}
{#                            icon: redMarker#}
{#                        })#}
{#                    }#}
{#                }).on('click', function(e){#}
{#                    map.setView(e.latlng, 16);#}
{#                });#}
{##}
{#                unclassifiedData.addTo(map);#}
{##}
{#                var crimeData = L.geoJson(data, {#}
{#                    onEachFeature: onEachFeature,#}
{#                    filter: function (feature, layer) {#}
{#		                    return feature.properties.category === 2;#}
{#		                },#}
{#                    pointToLayer: function(feature, latlng) {#}
{#                        return L.marker(latlng, {#}
{#                            icon: redMarker#}
{#                        })#}
{#                    }#}
{#                }).on('click', function(e){#}
{#                    map.setView(e.latlng, 16);#}
{#                });#}
{##}
{#                crimeData.addTo(map)#}
{##}
{#                var maliciousData = L.geoJson(data, {#}
{#                    onEachFeature: onEachFeature,#}
{#                    filter: function (feature, layer) {#}
{#		                    return feature.properties.category === 5;#}
{#		                },#}
{#                    pointToLayer: function(feature, latlng) {#}
{#                        return L.marker(latlng, {#}
{#                            icon: greenMarker#}
{#                        })#}
{#                    }#}
{#                });#}
{##}
{#                maliciousData.addTo(map)#}
{##}
{#                 var intrusionData = L.geoJson(data, {#}
{#                    onEachFeature: onEachFeature,#}
{#                    filter: function (feature, layer) {#}
{#		                    return feature.properties.category === 5;#}
{#		                },#}
{#                     pointToLayer: function(feature, latlng) {#}
{#                        return L.marker(latlng, {#}
{#                            icon: blueMarker#}
{#                        })#}
{#                    }#}
{#                });#}
{#                intrusionData.addTo(map)#}
{##}
{#                var moneyData = L.geoJson(data, {#}
{#                    onEachFeature: onEachFeature,#}
{#                    filter: function (feature, layer) {#}
{#		                    return feature.properties.category === 3;#}
{#		                },#}
{#                    pointToLayer: function(feature, latlng) {#}
{#                        return L.marker(latlng, {#}
{#                            icon: orangeMarker#}
{#                        })#}
{#                    }#}
{#                }).on('click', function(e){#}
{#                    map.setView(e.latlng, 16);#}
{#                });#}
{##}
{#                moneyData.addTo(map)#}
{##}
{#                var weaponsData = L.geoJson(data, {#}
{#                    onEachFeature: onEachFeature,#}
{#                    filter: function (feature, layer) {#}
{#		                    return feature.properties.category === 4;#}
{#		                },#}
{#                    pointToLayer: function(feature, latlng) {#}
{#                        return L.marker(latlng, {#}
{#                            icon: cadetblueMarker#}
{#                        })#}
{#                    }#}
{#                }).on('click', function(e){#}
{#                    map.setView(e.latlng, 16);#}
{#                });#}
{##}
{#                weaponsData.addTo(map)#}
{##}
{#                var fraudData = L.geoJson(data, {#}
{#                    onEachFeature: onEachFeature,#}
{#                    filter: function (feature, layer) {#}
{#		                    return feature.properties.category === 6;#}
{#		                },#}
{#                    pointToLayer: function(feature, latlng) {#}
{#                        return L.marker(latlng, {#}
{#                            icon: darkgreenMarker#}
{#                        })#}
{#                    }#}
{#                }).on('click', function(e){#}
{#                    map.setView(e.latlng, 16);#}
{#                });#}
{##}
{#                fraudData.addTo(map);#}
{##}
{#                var markers = L.markerClusterGroup({#}
{#                    zoomToBoundsOnClick: true,#}
{#                    showCoverageOnHover: false#}
{#                });#}
{##}
{##}
{#                markers.addLayers(eventsData);#}
{##}
{##}
{#                var layerGroup = L.layerGroup([fraudData, moneyData, crimeData, weaponsData, maliciousData, intrusionData ]);#}
{##}
{##}
{#                document.getElementById("addButton").addEventListener("click", addEvents);#}
{##}
{#                //add all events to map#}
{#                function addEvents() {#}
{#                    eventsData.addTo(map);#}
{#                }#}
{##}
{#                document.getElementById("removeButton").addEventListener("click", removeEvents);#}
{##}
{#                //remove all events to map#}
{#                function removeEvents() {#}
{#                    map.removeLayer(eventsData);#}
{#                }#}
{##}
{#                // Toggle events#}
{##}
{##}
{#                document.getElementById("crime").addEventListener("click", filterCrime);#}
{##}
{#		        function filterCrime(){#}
{#		            if(map.hasLayer(crimeData)){#}
{#                        map.removeLayer(crimeData);#}
{#                    } else {#}
{#		                crimeData.addTo(map);#}
{#                    }#}
{#		        }#}
{##}
{##}
{#		        document.getElementById("malicious").addEventListener("click", filterMalicious);#}
{##}
{#		        function filterMalicious(){#}
{#		            if(map.hasLayer(maliciousData)){#}
{#                        map.removeLayer(maliciousData);#}
{#                    } else {#}
{#		                maliciousData.addTo(map);#}
{#                    }#}
{#		        }#}
{##}
{#		        document.getElementById("intrusion").addEventListener("click", filterIntrusion);#}
{##}
{#		        function filterIntrusion(){#}
{#		            if(map.hasLayer(intrusionData)){#}
{#                        map.removeLayer(intrusionData);#}
{#                    } else {#}
{#		                intrusionData.addTo(map);#}
{#                    }#}
{#		        }#}
{##}
{##}
{#		        document.getElementById("weapons").addEventListener("click", filterWeapon);#}
{##}
{#		        function filterWeapon(){#}
{#		            if(map.hasLayer(weaponsData)){#}
{#                        map.removeLayer(weaponsData);#}
{#                    } else {#}
{#		                weaponsData.addTo(map);#}
{#                    }#}
{#		        }#}
{##}
{#		        document.getElementById("fraud").addEventListener("click", filterFraud);#}
{##}
{#		        function filterFraud(){#}
{#		            if(map.hasLayer(fraudData)){#}
{#                        map.removeLayer(fraudData);#}
{#                    } else {#}
{#		                fraudData.addTo(map);#}
{#                    }#}
{#		        }#}
{##}
{#		        document.getElementById("laundering").addEventListener("click", filterMoney);#}
{##}
{#		        function filterMoney(){#}
{#		            if(map.hasLayer(moneyData)){#}
{#                        map.removeLayer(moneyData);#}
{#                    } else {#}
{#		                moneyData.addTo(map);#}
{#                    }#}
{#		        }#}
{##}
{#		        document.getElementById("unclassified").addEventListener("click", filterUnclassified);#}
{##}
{#		        function filterUnclassified(){#}
{#		            if(map.hasLayer(unclassifiedData)){#}
{#                        map.removeLayer(unclassifiedData);#}
{#                    } else {#}
{#		                unclassifiedData.addTo(map);#}
{#                    }#}
{#		        }#}
{##}
{##}
{#            });#}

            //group the baselayers
            var baseLayers = {
			"OSM": osm,
			"OpenTopoMap":OpenTopoMap,
                "CartoLight": cartoLight
            };

{#            L.control.groupedLayers(baseLayers).addTo(map);#}

            var zoomHome = L.Control.zoomHome();
            zoomHome.addTo(map);


            var osmGeocoder = new L.Control.OSMGeocoder();

            map.addControl(osmGeocoder);

            map.addLayer(markers);

        }

    </script>
                {% leaflet_map "map" callback="main_map_init" %}
{% endblock %}

