{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% load leaflet_tags %}

{% block content %}
    <style>
    #id_geom-map {
    width: 90%;
}
    </style>
<div class="page-title">
                    <h3>Report Event</h3>
        {% block breadcrumbs %}
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
{#                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>#}
                            <li class="active">Report Event</li>
                        </ol>
                    </div>
            {% endblock %}
                </div>

<div id="main-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Report Event</h4>
                                </div>
                        <div id="task_status_div" class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="{{ action }}" method="post" class="form-horizontal" enctype="multipart/form-data">
                                        <div class="col-md-10">
                                        {% leaflet_js plugins="forms" %}
                                                {% leaflet_css plugins="forms" %}

                                                {% csrf_token %}
                                                {% crispy event_form %}
                                        </div>

                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
</div>

{% endblock %}